# Database
DB_URL=postgresql://username:password@host:5432/sentultrip

# Admin auth session secret. Generate random value for production.
ADMIN_SESSION_SECRET=change_this_to_a_long_random_secret

# Google Analytics tracking tag
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-2JL1DK7QG6

# Google Analytics Data API
GA_PROPERTY_ID=542198406
GOOGLE_CLIENT_EMAIL=sentultrip@sentultrip.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
